@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  columns: 2;

  @media (max-width: $layout-breakpoint-sm) {
    columns: 1;
  }

  &__item {
    // @include margin-bottom(1.15);
    padding: 20px 0px;
    // border-bottom: 1px solid #dedede;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin: 0px 10px 40px 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 100px 0px #ccc;
    transform: translateZ(0);
    background: hsla(0, 0%, 98%, 1);

    &:hover,
    &:focus {
      box-shadow: 1px 1px 100px 0px #aaa;
      transition: box-shadow 0.25s ease-in-out;    
      background: white;
    }

    &:last-child {
      @include margin-bottom(.5);
    }

    &-meta {
      display: flex;
    }
    
    &-photo {
      flex: 50%;
      padding: 0px 0px 0px 0px;
    }

    &-photo img {
      width: 100%;
      object-fit: cover;
      height: 200px;
    }

    &-info {
      padding: 20px;
      text-align: center;
    }

    @media (max-width: $layout-breakpoint-sm) {
      &-photo {
        flex: 60%;
      }
    }

    &-title {
      font-size: $typographic-base-font-size * 1.4;
      font-family: "Playfair Display", 'Times New Roman', Times, serif; 
      margin: 0px;
      margin-bottom: 6px;
      // * 1.6875;
      @include line-height(1.1);
      @include margin-top(0);
      // @include margin-bottom(.5);

      &-link {
        color: $color-base;

        &:hover,
        &:focus {
          color: $color-base;
          // border-bottom: 1px solid $color-base;
        }

      }

    }

    &-description {
      font-size: $typographic-small-font-size;
      @include line-height(1);
      // @include margin-bottom(.75);
      margin: 0px;
      color: #6b6b6b;
    }

    &-meta {
      &-time {
        font-size: $typographic-very-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-very-small-font-size;
          color: $color-secondary;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }

        }

      }

    }

    &-readmore {
      font-size: $typographic-very-small-font-size;
      // color: $color-primary;
      color: #666666;

      &:hover,
      &:focus {
        color: $color-primary;
        // border-bottom: 1px solid $color-primary;
      }

    }

  }

}